@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f7f7f7;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #dbdbdb;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #490000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    font-family: "Josefin Sans", sans-serif;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: #490000;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .3s;
}

ul li.ativo {
    background-color: #df00007e;
}

ul li.item-menu:hover {
    background: #df00007e;
}

ul li.item-menu a {
    color: #490000;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

hr {
    height: 2.5px;
    color: #490000;
}

/*Barra de navegação 2*/

.container {
    background-color: #dbdbdb;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px #490000;
    padding-right: 20px;
}

header {
    color: #000000;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logo img {
    max-width: 100px;
    cursor: pointer;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #490000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
}

.nav-links li a:hover {
    color: #b40000;
    transition: .1s;
}

.nav-links li.selected a {
    color: #df00007e; /* Altera a cor do texto quando a aba está selecionada */
}